@using TWN.DiscordBot.ControlPanel.Controller
@inherits LayoutComponentBase
@inject IBotDataController dataProvider;

<div class="bb-page">

@*   <Sidebar @ref="sidebar"
            Href="/"
            Title="ControlPanel"
            BadgeText="TWN.DiscordBot"
            DataProvider="SidebarDataProvider"
            ImageSrc="lx_trans.png"
            Width="300"
  data-bs-theme="dark" /> *@

  <Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.BottomRight" />

  <main>
@*     <div class="bb-top-row px-4 d-flex justify-content-between">
      <Icon Name="IconName.List" Color="IconColor.Body" role="button" @onclick="ToggleSidebar" />
    </div> *@

    <article class="content px-4">
      <div class="py-2">@Body</div>
    </article>
  </main>

</div>

@code {
  Sidebar sidebar = default!;
  private Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
  {
    return Task.FromResult(request.ApplyTo([new(){
      IconName = IconName.Robot,
      Href="/",
      Text = "Discord Bots",
      Class = ""
  }]));
  }
  private void ToggleSidebar() => sidebar?.ToggleSidebar();
}


<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>
